@use './var';

body{

    background-image: url(../img/background.jpg);
    background-size: 100%;
    font-family: var.$font;

    
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

}

a {

    text-decoration: none;
    color: var.$white;
    padding: 1rem;

}

a:hover{
    color: var.$white;
    padding: 1rem;
}