@use './var';

.text-center{
	color:#fff;	
	text-transform:uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
}

.container__connexion{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    padding: 70px 100px;

    &__test {
        position:relative;
        margin-bottom:25px;
    }

    &__test label {
        position:absolute;
        top:0px;
        left:0px;
        font-size:16px;
        color:#fff;	
        pointer-event:none;
        transition: all 0.5s ease-in-out;
    }

    &__test input {
        border:0;
        border-bottom:1px solid #555;  
        background:transparent;
        width:100%;
        padding:8px 0 5px 0;
        font-size:16px;
        color:#fff;
    }

    &__test input:focus {
        border:none;	
        outline:none;
        border-bottom:1px solid #e74c3c;	
    }

    
    &__test input:valid~label {
        top: -12px;
        font-size: 12px;
    }

    &__test input:focus~label {
        top: -12px;
        font-size: 12px;
    }

    &__centrage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

}

.container__inscription{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.inscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 3px;
    padding: 70px 100px;

    &__test {
        position:relative;
        margin-bottom:25px;
    }

    &__test label {
        position:absolute;
        top:0px;
        left:0px;
        font-size:16px;
        color:#fff;	
        pointer-event:none;
        transition: all 0.5s ease-in-out;
    }

    &__test input {
        border:0;
        border-bottom:1px solid #555;  
        background:transparent;
        width:100%;
        padding:8px 0 5px 0;
        font-size:16px;
        color:#fff;
    }

    &__test input:focus {
        border:none;	
        outline:none;
        border-bottom:1px solid #e74c3c;	
    }

    
    &__test input:valid~label {
        top: -12px;
        font-size: 12px;
    }

    &__test input:focus~label {
        top: -12px;
        font-size: 12px;
    }

    &__centrage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }

}

.widgets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}

.google {

    padding: 1rem;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -1rem 1rem;

}

.delete:hover {
    background-color: var.$opacity-annuler;
}

.deconnexion--li {
    margin-left: 15rem;
}

.debut--li {
    margin-left: 23rem;
}

.form__error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}