<div class="container__connexion">
    <div class="connexion">
        <form action="/" method="POST">
            <span class="text-center">Connexion</span>
            <% if (typeof alert !=='undefined' ) { %>
                <div class="form__error" role="alert">
                    <%= alert %>
                </div>
                <% } %>

                    <div class="connexion__test">
                        <input type="email" name="email" id="email" required>
                        <label for="email">Email</label>
                    </div>
                    <div class="connexion__test">
                        <input type="password" name="password" id="password" required>
                        <label for="password">Mot de passe</label>
                    </div>
                    <div class="connexion__centrage">
                        <button type="submit" class="btn--form">valider</button>
                        <a href="/inscription">Pas de compte ?</a>
                    </div>

        </form>

    </div>
</div>
