<div class="inscription">
    <form action="/inscription" method="POST">
        
        <fieldset>
            <legend>Inscription</legend>
            <% if (typeof error !=='undefined' ) { %>
                <div class="form__error" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <div class="inscription__partie1">
                    <div class="inscription__test">
                        <Label for="prenom">Prénom :</Label><input type="text" name="prenom" id="prenom" required>

                    </div>
                    <div class="inscription__test">
                        <Label for="nom">Nom :</Label><input type="text" name="nom" id="nom" required>

                    </div>
                    <div class="inscription__test">
                        <label for="email">Email :</label><input type="email" name="email" id="email" required>

                    </div>

</div>
<div class="inscription__partie2">
    <div class="inscription__test">
        <label for="password">Mot de passe :</label><input type="password" name="password" id="password" required>
    </div>
    <div class="inscription__test">
        <label for="passwordConfirm">Repeter mot de passe :</label><input type="password" name="passwordConfirm"
            id="passwordConfirm" required>

    </div>
</div>
</fieldset>
<div>
    <button type="submit">valider</button>
</div>

</form>
</div>