@use '../var';

#compteur-lien {
    color: red;
    width: 100%;
    text-align: center;
}

.favoris {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: var.$widget;
    color : var.$text;
    width: 30%;
    height: 25rem;
    border: solid 1px black;
    border-radius: 8px;
    padding: 0.5rem;
    box-sizing: border-box;

    &__liens {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        &--card {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 20%;
            box-sizing: border-box;
            font-weight: bold;
            color: var.$text;


            &:hover {           
                font-weight: bold;
                color: var.$primary;
                border: 1px solid var.$primary;
                border-radius: 5px;
                
            }
        }
    }

    &__nouvelle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        &__title {
            font-size: 1.2rem;
            font-weight: bold;
        }

        &__texte {
         
           
            border: solid 1px black;
            width: 70%;
            margin-right: 1rem;
        }

    }

}

.favoriForm {

    &__lien {
        display: flex;
        flex-direction: row-reverse;
        
        gap: 1rem;
        margin-top: 0.5rem;

      
    }
      &__favori {
            display: flex;
            gap: 1rem;
            
        }
}

.card__image {
    width: 50%;   
    border-radius: 5px;
   
}
