@use '../var';

#compteur-note {
    color: red;
    width: 100%;
    text-align: center;
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: var.$widget;
    width: 30%;
    height: 25rem;
    border: solid 1px black;
    border-radius: 8px;
    padding: 0.5rem;
    box-sizing: border-box;
    color: var.$text;

    &__write {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;


        &__ul {
            display: flex;
            flex-direction: column;
            padding: 0;


        }

        &__li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 0.3rem;
            margin-left: 0rem;
            box-sizing: border-box;
            width: 100%;
        }

    }

    &__nouvelle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        &__title {
            font-size: 1.3rem;
            font-weight: bold;
        }

        &__texte {
            height: 5rem;
            border-radius: 5px;
            border: solid 1px black;
            width: 70%;
            margin-right: 1rem;
        }
    }

}