@use '../var';

#rdv-tbody{
    overflow: scroll;
}

#compteur-nom , #compteur-lieu{
    color: red;
    width: 100%;
    text-align: center;
}

.compteur-span-rdv {
    font-size: 0.8rem;
}


.rdv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    background-color: var.$widget;
    width: 30%;
    height: 25rem;
    border: solid 1px black;
    border-radius: 8px;
    padding: 0.5rem;
    box-sizing: border-box;
    color: var.$text;

    &__encours {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        

        &__th {
            font-size: 0.9rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1rem;
        }


    }

    &__nouveau {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        &__title{
            font-size: 1.3rem;
            font-weight: bold;
            text-align: center;
            margin-bottom: 1rem;
        }

        &__form{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            width: 50%;
        }
       
        &__input{
            
            border: solid 1px black;
            margin-right: 1rem;   
                
        }

    }
}

.tableaurdv {
    width: 100%;
    text-align: center;

}

