<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include("partials/head") %>

</head>

<body>
    <header role="banner" class="header">

          <%- include("partials/header") %>
          
    </header>

      

    <main>

<p style="color:white">ERREUR 404 </p>
<% if (typeof error !=='undefined' ) { %>
    <div style="color:white" class="form__error" role="alert">
        <%= error %>
    </div>
    <% } %>
    </main>

    <footer>

        <%- include("partials/footer") %>

    </footer>

</body>

</html>