<!DOCTYPE html>

<html lang="fr">

<head>

    <%- include("partials/head") %>

</head>

<body>
    <div class="container">

        <header role="banner" class="header">

            <%- include("partials/header") %>

        </header>


        <main>

            <%- include("partials/inscription") %>

        </main>

    </div>

</body>

</html>